{% load static %}

<html>
    <body style="background-color: #D0F0C0;">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <h1>Are you sure you want to delete '{{ member.first_name }} {{ member.last_name }}'</h1>
        <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ refer }}">
        <button type="submit" class="button_z">Confirm</button>
        <a href="{{ refer }}" class="button_y">Cancel</a>
        </form>
    </body>
</html>