{% load rest_framework %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<html>
    <body style="background-color: #D0F0C0;">
    <h1>CREATE PITCH (pdf)</h1>
    <form 
        action="{% url 'client-pitch-create' %}" 
        method="POST" 
        enctype="multipart/form-data">
        {% csrf_token %}
        {% render_form serializer %}
        <input class="button_x" type="submit" value="Save">
    </form>
    <a href="{% url 'home' %}" class="button_xx">Cancel</a>
    </body>
</html>